<html>
<head>
<style>

    body {
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
        background-color: darkslategrey;
    }

    h1 {
        color: skyblue;
    }

</style>
</head>

<body>
<h1> Advance Calculator 
    <br>
    <img src="{{ url_for('static',filename='img.png') }}"></img>
    <form method="POST">
        <label >Enter expression</label><br><br>
        <select name="operation" class="is-focused is-large" aria-label="operationDropdown">
            <option text="Choose Operation"></option>
            <option value="simplify">Simplify</option>
            <option value="factor">Factor</option>
        </select>
        <input placeholder="Expression" name="text">
        <input type="submit">
    </form>
<p> Your equation is {{ equation}}={{result}}</p>
</h1>
</body>
</html>
